@model EtreetrainingUser.Models.Tbl_Cand_Main
@{
    Html.EnableClientValidation(true);
}

<!DOCTYPE html>
<html>

<head>

    <title>Snipe Learning  | Home page :: Snipe IT</title>
    <!-- Meta-tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="SNL is the world's largest destination for online courses. Discover an online course on etreetraining.com and start learning a new skill today." />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#sgnin").hide();
            $("#fg").hide();
            $("#sgnin").click(function () {
                $("#sgnin").hide();
                $("#sgnup").show();
            });
            $("#sgnup").click(function () {
                $("#sgnup").hide();
                $("#sgnin").show();
            });
            $("#fg").click(function () {
                $("#fg").hide();
                $("#sgnup2").show();
            });
            $("#sgnup2").click(function () {
                $("#sgnup2").hide();
                $("#fg").show();
            });
        });
    </script>
    <style>
        .navbar-inverse {
            background: linear-gradient(-45deg,#185a9d,#43cea2);
        }

        .header_topw3layouts_bar {
            background: linear-gradient(-45deg,#185a9d,#43cea2);
        }

        .carousel-caption p {
            background: linear-gradient(-45deg,#185a9d,#43cea2);
        }
    </style>
    <!--// Metga-tags -->
    <!-- Styleshets -->
    <!--// Bootstrap-css -->
    <link href="~/css/newcss/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <!--// Responsive-tabs -->
    <link href="~/css/newcss/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!--// Pop-up -->
    <link href="~/css/newcss/css/banner.css" rel="stylesheet" type="text/css" media="all" />
    <!--// banner-css -->
    <link rel="stylesheet" href="~/css/newcss/css/shop.css" type="text/css" media="screen" property="" />
    <!--// shop-css -->
    <link href="~/css/newcss/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- common-css -->
    <link rel="stylesheet" href="~/css/newcss/css/client.css" type="text/css" media="all" />
    <!-- // client-css -->
    <link href="~/css/newcss/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/newcss/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- // Font-awesome-css -->
    <!--// Styleshets -->
    <!-- Online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,500,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!--// Online-fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Snipe/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Snipe/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Snipe/css/screenshot_view.css" rel='stylesheet' type='text/css' />



</head>

<body>


    <!-- header -->


    <div class="header" id="home">


        <!-- header-top -->
        @*<div class="header_topw3layouts_bar">
                <div class="container">
                    <div class="header_agileits_left">
                        <ul>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> +91 080-41141398</li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@elephanttreetech.com">info@elephanttreetech.com</a></li>
                        </ul>
                    </div>
                    <div class="header_right">
                        <a href="#" class="log" data-toggle="modal" data-target="#myModal">Sign In/Up</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>*@
        <!--// header-top -->
        <!--Popup model-->

        <div class="modal fade" id="myModalpopup" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                        <div class="signin-form profile ">
                            @if (@ViewBag.errrid == "1")
                            {
                                <h3 class="agileinfo_sign" style="text-align:center">Login Error</h3>
                                <br />
                                <div class="login-form">
                                    <h4 style="color:red"> Invalid credentials, Please Check your details and try again!</h4>
                                    <br />
                                    <h4>Thank You</h4>
                                </div>
                            }
                            @if (@ViewBag.errrid == "2")
                            {
                                <h3 class="agileinfo_sign" style="text-align:center">Email Exists</h3>
                                <br />
                                <div class="login-form">
                                    <h4 style="color:darkcyan"> Your email already exists. Please try with another email or </h4>
                                    <br />
                                    <h4> <a href="#" data-toggle="modal" data-target="#myModalfgps" onClick="PopUperror('hide')" style="color:blue">reset your password</a></h4>
                                    <br /><br />
                                    <h4>Thank You</h4>
                                </div>
                            }
                            @if (@ViewBag.errrid == "3")
                            {
                                <h3 class="agileinfo_sign" style="text-align:center">Successfull Registration</h3>
                                <br />
                                <div class="login-form">
                                    <h4 style="color:darkcyan"> Registration Successfully done. Account activation link has been sent to your email id. Please check.</h4>
                                    <br />
                                    <h4>Thank You</h4>
                                </div>
                            }
                            @if (@ViewBag.errrid == "4")
                            {
                                <h3 class="agileinfo_sign" style="text-align:center">Registration Error</h3>
                                <br />
                                <div class="login-form">
                                    <h4 style="color:red"> Invalid registration. Please Try again</h4>
                                    <br />
                                    <h4>Thank You</h4>
                                </div>
                            }
                            @if (@ViewBag.errrid == "14")
                            {
                                @*<h3 class="agileinfo_sign" style="text-align:center">Registration Error</h3>
                                    <br />*@
                                <div class="login-form">
                                    <h4 style="color:red"> @ViewBag.errrmsg14</h4>
                                    @*<br />
                                        <h4>Thank You</h4>*@
                                </div>
                            }
                            @if (@ViewBag.errrid == "5")
                            {
                                <h3 class="agileinfo_sign" style="text-align:center">Password Recovery</h3>
                                <br />
                                <div class="login-form">
                                    <h4 style="color:darkcyan"> Please check Your Email. Password recovery link has been sent.</h4>
                                    <br />
                                    <h4>Thank You</h4>
                                </div>
                            }
                            @if (@ViewBag.errrid == "6")
                            {
                                <h3 class="agileinfo_sign" style="text-align:center">Password Recovery</h3>
                                <br />
                                <div class="login-form">
                                    <h4 style="color:darkcyan"> Something went wrong. Please try again</h4>
                                    <br />
                                    <h4>Thank You</h4>
                                </div>
                            }
                            @if (@ViewBag.errrid == "7")
                            {
                                <h3 class="agileinfo_sign" style="text-align:center">Password Recovery</h3>
                                <br />
                                <div class="login-form">
                                    <h4 style="color:red"> Email does not Exist. Please try again.</h4>
                                    <br />
                                    <h4>Thank You</h4>
                                </div>
                            }
                            @if (@ViewBag.errrid == "23")
                            {
                                <h3 class="agileinfo_sign" style="text-align:center"></h3>
                                <br />
                                <div class="login-form">
                                    <h4 style="color:darkcyan"> Account has been updated. Please re-login.</h4>
                                    <br />
                                    <h4>Thank You</h4>
                                </div>
                            }
                            @if (@ViewBag.errrid == "15")
                            {
                                <h3 class="agileinfo_sign" style="text-align:center"></h3>
                                <br />
                                <div class="login-form">
                                    <h4 style="color:darkcyan"> Thank You for your query! We will revert back you soon...</h4>
                                    <br />
                                    <h4>Thank You</h4>
                                </div>

                            }
                            @if (@ViewBag.errrid == "16")
                            {
                                <h3 class="agileinfo_sign" style="text-align:center"></h3>
                                <br />
                                <div class="login-form">
                                    <h4 style="color:darkcyan"> Thank You for subscription! We will get all updation of this site...</h4>
                                    <br />
                                    <h4>Thank You</h4>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="header-middle" style="background:#131313">
            <div class="container">
                <div class="logof-w3-agile">
                    <h4>
                        <a href="~/" class="text-white"><span style="margin-right:0px;color: #ff1949;">S</span><span style="color:white">nipe</span> <span style="margin-right:0px;color: #ff1949;">L</span><span style="color:white">earning [SNL]</span></a>
                    </h4>
                </div>
                <div class="searchf-w3-agileits-headr" style="background-color: transparent;
    border-color: transparent;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    font-size: 13px;display: table-cell;width: 40%;">
                    @*@using (Html.BeginForm("Search", "Home", FormMethod.Get,new { accept - charset = "ISO-8859-1" }))
                        {*@
                    <form action="~/Home/Search" method="get" accept-charset="ISO-8859-1">

                        <input type="search" name="Search" style="background-color:#f2f3f5;" placeholder="Search for a course..." required="" maxlength="500" onkeyup="javascript:RemoveSpecialChar(this)">

                        <button aria-label="Search" type="submit" class="btn btn-link search" id="btnb" style="border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    color: #ec5252;width: 44px;
    height: 40px;padding: 11px 12px;
    font-size: 15px;border-color: transparent;background-color:#f2f3f5;">
                            <i class="fa fa-search" aria-hidden="true" id="icn" style="color: #ff1949;"> </i>
                        </button>

                        @*<button type="submit" class="btn btn-default search" aria-label="Left Align" id="btnb">
                                <i class="fa fa-search" aria-hidden="true" id="icn"> </i>
                            </button>*@
                    </form>
                    @*}*@
                </div>

                <div class="dropdown" style="float:left; padding:0px 0px 0px 70px;padding-left: 13em;">
                    <span class="fa fa-arrows-alt flash animated infinite" style="color:#ff1949"></span><a href="#" class="text-white">&nbsp; Admin</a>
                    <div class="dropdown-content" style="width:30%;right:-80px;min-width: 350px;text-align:center">
                        <div style="padding:15px 15px 15px 15px">
                            Turn what you know into an opportunity and reach millions around the world.
                            <br />
                            <a href="~/Home/TestForInstructor" style="font-weight: 600;font-size: 15px;line-height: 1.43;color: #007791;">Learn more</a>
                        </div>
                    </div>
                </div>
                <style>

                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #f1f1f1;
                        min-width: 90px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                    }

                        .dropdown-content a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                        }

                            .dropdown-content a:hover {
                                background-color: #ddd;
                            }

                    .dropdown:hover .dropdown-content {
                        display: block;
                    }

                    .dropdown:hover .dropbtn {
                        background-color: #3e8e41;
                    }
                </style>
                @*<div class="logof-w3-agile" >
                        <h4>


                            <a href="~/" class="text-white"><span style="margin-right:0px">A</span>admin</a>

                        </h4>
                    </div>*@
                <div class="login-wthree my-auto">
                    <a href="#" class="text-white text-capitalize" style="padding-left:50px" data-toggle="modal" data-target="#myModal">login <span style="color:#ff1949" class="fa fa-sign-in flash animated infinite"></span></a>
                </div>
                @*<div style="float:right">
                        <a href="#" class="log" data-toggle="modal" data-target="#myModal">Login</a>
                    </div>*@
                @*<div class="clearfix"></div>*@
            </div>

        </div>
        <!--// header-middle -->
        <nav @*class="navbar navbar-inverse"*@ style="background:#131313">
            @*<div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>*@

            <div class="collapse navbar-collapse js-navbar-collapse">
                <ul class="head">

                    <li style="margin-top:0px;" class="dropdown">


                        <div>
                            <h4> <a href="#" class="text-white">&nbsp; NEET </a></h4>
                            <div class="dropdown-content" style="width:30%;min-width: 350px;margin-top:17px;float:left;text-align:center">
                                <div style="padding:15px 15px 15px 15px; color:black">
                                    The National Eligibility cum Entrance Test or NEET is an entrance examination in India, for students who wish to study graduate and postgraduate medical
                                    course and dental course in government or private medical colleges and dental colleges respectively in India.
                                    <br />
                                    <a href="#" style="font-weight: 600;font-size: 15px;line-height: 1.43;color: #007791;">Prepare your schedule</a>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li style="margin-top:0px;" class="dropdown">
                        <div>
                            <h4> <a href="#" class="text-white">&nbsp; KCET</a></h4>
                            <div class="dropdown-content" style="width:30%;min-width: 350px;margin-top:17px;text-align:center">
                                <div style="padding:15px 15px 15px 15px; color:black">
                                    Karnataka Common Entrance Test (KCET) is a state level exam that offers admission
                                    in various government and private colleges in the state of Karnataka.
                                    <br />
                                    <a href="#" style="font-weight: 600;font-size: 15px;line-height: 1.43;color: #007791;">We will meet very soon</a>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li style="margin-top:0px;" class="dropdown">
                        <div>
                            <h4> <a href="#" class="text-white">&nbsp; JEE</a></h4>
                            <div class="dropdown-content" style="width:30%;min-width: 350px;margin-top:17px;text-align:center">
                                <div style="padding:15px 15px 15px 15px; color:black">
                                    Joint Entrance Examination is an engineering entrance examination conducted for admission to various
                                    engineering colleges in India. It is constituted by two different examinations - JEE Main and the JEE Advanced.
                                    <br />
                                    <a href="#" style="font-weight: 600;font-size: 15px;line-height: 1.43;color: #007791;">We will meet very soon</a>
                                </div>
                            </div>
                        </div>

                    </li>
                    @*<li><a href="~/Home/SearchOne/A">Academic courses</a></li>
                        <li><a href="~/Home/SearchOne/T">Technical courses</a></li>
                        <li><a href="~/Home/SearchOne/M">Management courses</a></li>*@
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </nav>

    </div>
    <ol class="breadcrumb" style="margin-bottom: 5px;">

        <li><a href="#">All Courses</a></li>
        @{int count = 1; var scrt = 0; }
        @{

            foreach (var crs in ViewBag.selectcrs)
            {
                if (count == 1)
                {
                    <li class="active">@crs.Course_name</li>
                }
                else
                {
                    if (scrt != @crs.Secret_Code)
                    {
                        <li class="active">@crs.Course_name</li>
                    }
                }
                count++;
                scrt = @crs.Secret_Code;
            }

        }
    </ol>
    <!-- banner -->
    <div class="full-width full-width--streamer streamer--complete" data-content-group="Landing Page" data-course-id="362328" style="background-color: #505763;padding-bottom: 60px;background: linear-gradient(#29303b,#29303b,#29303b);
    color: #fff;">
        <div class="container" style="width: 970px;margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 320px;">
            <div class="row">

                <div class="row" style="margin-left: -15px;
    margin-right: -15px;box-sizing: border-box;">
                    <div class="col-xxs-8 left-col" style="width: 66.66666667%;float: left;position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;box-sizing: border-box;">
                        <div class="clp-lead">
                            <div class="clp-component-render">



                                <div class="clp-component-render">
                                    <h1 class="clp-lead__title " data-purpose="lead-title" style="font-size: 36px;
    line-height: 41px;font-weight: 600;margin-top: 21px;
    margin-bottom: 10.5px;">
                                        @{int count1 = 1; var scrt1 = 0; }
                                        @{

                                            foreach (var crs in ViewBag.selectcrs)
                                            {
                                                if (count1 == 1)
                                                {
                                                    <li class="active">@crs.Course_name</li>
                                                }
                                                else
                                                {
                                                    if (scrt1 != @crs.Secret_Code)
                                                    {
                                                        <li class="active">@crs.Course_name</li>
                                                    }
                                                }
                                                count1++;
                                                scrt1 = @crs.Secret_Code;
                                            }

                                        }


                                    </h1>

                                    <div class="clp-lead__headline" data-purpose="lead-headline" style="font-size: 21px;
    line-height: 27px;">
                                        Want to pass the NEET - Exam? Want to become NEET courses Certified? Do this course!
                                    </div>

                                </div>


                                <div class=" clp-lead__element-row">


                                    <div class="clp-lead__element-item" style="    margin-top: 5px;margin-right: 20px;">
                                        <div class="clp-component-render">

                                            <span class="badge badge-accented yellow" data-purpose="badge" style="background: #f4c150;
    color: #29303b;border-radius: 3px;
    font-size: 9px;
    padding: 1px 8px;

    border: none;

    min-width: inherit;
    display: inline-block;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -3px;
    z-index: 2;
    vertical-align: baseline;text-shadow: none;">
                                                Bestseller
                                            </span>

                                        </div>
                                    </div>





                                    <div class="clp-lead__element-item">
                                        <div class="clp-component-render">

                                            <div class="rating" data-purpose="ratings">

                                                <div class="rating__stars">
                                                    <a href="/aws-certified-solutions-architect-associate/#reviews" target="_self" class="js-user-tracker-click" data-user-tracker-page="clp" data-user-tracker-schema="clp-activity" data-user-tracker-action="streamer-review-link-clicked" data-user-tracker-object-id="362328" aria-labelledby="rate-count-value--ede89419" rel=" noopener noreferrer">
                                                        <div class="clp-component-render"><div class="ud-component--clp--rating" ng-non-bindable=""><div aria-label="Rating: 4.44934 out of 5" data-purpose="star-rating-shell" class="star-rating--star-rating--static--3wPvS star-rating--star-rating--smaller--2Iva0"><div><span class="star-rating--review-star--Z6Nqj star-rating--review-star--unfilled--1aZxo"></span><span class="star-rating--review-star--Z6Nqj star-rating--review-star--filled--2D0bO" style="width: 100%;"></span></div><div><span class="star-rating--review-star--Z6Nqj star-rating--review-star--unfilled--1aZxo"></span><span class="star-rating--review-star--Z6Nqj star-rating--review-star--filled--2D0bO" style="width: 100%;"></span></div><div><span class="star-rating--review-star--Z6Nqj star-rating--review-star--unfilled--1aZxo"></span><span class="star-rating--review-star--Z6Nqj star-rating--review-star--filled--2D0bO" style="width: 100%;"></span></div><div><span class="star-rating--review-star--Z6Nqj star-rating--review-star--unfilled--1aZxo"></span><span class="star-rating--review-star--Z6Nqj star-rating--review-star--filled--2D0bO" style="width: 100%;"></span></div><div><span class="star-rating--review-star--Z6Nqj star-rating--review-star--unfilled--1aZxo"></span><span class="star-rating--review-star--Z6Nqj star-rating--review-star--filled--2D0bO" style="width: 45%;"></span></div></div></div></div>
                                                    </a>
                                                </div>


                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div class="clp-lead__element-row">
                                    <div class="clp-lead__element-item">
                                        <div class="clp-component-render">

                                            <span class="" data-purpose="instructor-name-top">
                                                Created by

                                                <a href="/aws-certified-solutions-architect-associate/#instructor-1" target="_self" class="instructor-links__link" rel=" noopener noreferrer">
                                                    SNL TEAM
                                                </a>


                                            </span>

                                        </div>
                                    </div>

                                    <div class="clp-lead__element-item" data-purpose="lead-course-locale">
                                        <div class=" clp-lead__language">


                                            <div class="clp-lead__caption">
                                                <div class="clp-component-render">

                                                    <span class=" caption" data-purpose="caption">

                                                        <span><i class="fa fa-comment"></i></span>



                                                        English [Auto-generated]

                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clp-lead__element-row">
                                    <div class="clp-lead__element-item">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-4 right-col js-right-col" style="width: 33.33333333%;float: left;position: relative;
    min-height: 1px;
    padding-left:15px;

    padding-right: 15px;box-sizing: border-box;">
                        <div class="js-right-col__content right-col__content" style="position: absolute;
    top: 10px;

    margin-top: 18px;
    z-index: 20;box-sizing: border-box;">
                            <div class="right-col__module" style="background-color: #fff;
box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    border-radius: 4px;
    color: #505763;
    padding: 3px;box-sizing: border-box;">
                                <div class="clp-component-render" data-toggle="modal" data-target="#modalfordemointro" style="box-sizing: border-box;background-color: #fff;

    border-radius: 4px;
    color: #505763;
    padding: 3px;">

                                    <div style="border: none;display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    position: relative;" class="ud-component--clp--introduction-asset introduction-asset" data-purpose="introduction-asset" ng-non-bindable="">
                                        <div style="display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    position: relative;" class="styles--introduction-asset--Q9xDo" data-purpose="introduction-asset">
                                            <a style="cursor:pointer;color:#007791;background-color: transparent;text-decoration: none; font-weight: 400;" role="button" tabindex="0">
                                                <div style="display: flex;
                                                    flex-direction: column;
                                                    justify-content: flex-end;
                                                    background: linear-gradient(rgba(41,48,59,0),rgba(41,48,59,0),#29303b);
                                                    color: #fff;
                                                    font-weight: 700;
                                                    height: 100%;
                                                    position: absolute;
                                                    text-align: center;
                                                    width: 100%;cursor: pointer;" class="play-button-trigger styles--introduction-asset__placeholder--3aYtt">
                                                    <div style="opacity: 1;
                                                    visibility: visible;left: 0;
                                                    top: 0;
                                                    width: 100%;
                                                    height: 100%;
                                                    position: absolute;
                                                    background: url(https://localhost:44305/Snipe/icon-play.ac3f32ecb72a0c3f674fa5a3f3062a56.svg) no-repeat;
                                                    background-size: auto 50%;
                                                    background-position: 50%;

                                                    -webkit-transition: opacity .15s ease-in-out;
                                                    -moz-transition: opacity .15s ease-in-out;
                                                    -ms-transition: opacity .15s ease-in-out;
                                                    -o-transition: opacity .15s ease-in-out;
                                                    transition: opacity .15s ease-in-out;
                                                    -webkit-transition: -webkit-transform .15s ease-in-out;
                                                    -moz-transition: -moz-transform .15s ease-in-out;
                                                    -o-transition: -o-transform .15s ease-in-out;
                                                    transition: transform .15s ease-in-out;" class="play-button styles--play-button--akRnc"></div>
                                                    <span class="styles--introduction_asset__text--3e9Ce">Preview this course</span>
                                                </div><img src="~/Snipe/rsz_rd4m53feibdfd.jpg" alt="" width="260" height="135" class="styles--introduction-asset__img--9iitL">
                                            </a>

                                        </div>
                                    </div>

                                </div>
                              
                                <div class="right-col__inner" style="padding: 15px 30px;">
                                    <div class="clp-component-render" style="box-sizing: border-box;background-color: #fff;

    border-radius: 4px;
    color: #505763;
    padding: 3px;">






                                        <div class="buy-box">
                                            <div class="buy-box__element" style="margin-bottom: 5px;
    padding: 3px;">



                                            </div>

                                            <div class="buy-box__element" style="margin-bottom: 5px;">
                                                <div class="clp-component-render">


                                                    <div class="ud-component--clp--price-text " ng-non-bindable="">
                                                        <div>
                                                            <span style="font-size: 0px;"></span>
                                                            <div data-purpose="price-text-container" class="price-text--base-price__container--35GKL" style="margin-right: 10px;
     white-space: nowrap; ">
                                                                <div data-purpose="course-price-text" class="price-text--base-price__discount--1HLbY price-text--light--3WMN7 price-text--xlarge--2csTD price-text--bold--UNBNv" style="font-size: 36px;font-weight: 700;">
                                                                    <span class="sr-only">Current price</span>
                                                                    <span>
                                                                        <span>

                                                                            ₹@ViewBag.newprice
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="buy-box__element buy-box__element--discount-expiration">
                                                <div class="clp-component-render">

                                                    <div class="discount-expiration ud-component--clp--discount-expiration" data-purpose="discount-expiration" ng-non-bindable=""><div class="discount-expiration--discount-expiration--1Lyic" data-purpose="discount-expiration"><span class="discount-expiration--discount-expiration__clock-icon--3Fcr2 udi udi-stress-management"></span><span><b>17 hours</b> left at this price!</span></div></div>

                                                </div>

                                            </div>

                                            <div class="buy-box__element buy-box__element--add-to-cart-button" data-toggle="modal" data-target="#myModal">

                                                <div class="clp-component-render">

                                                    <div class="ud-component--clp--buy-button" ng-non-bindable="">
                                                        <div>
                                                            <button data-purpose="buy-this-course-button" type="button" class="course-cta btn btn-lg btn-primary btn-block" style="color: #fff;
    background-color: #ec5252;
    border: 1px solid transparent;display: block;
    width: 100%;padding: 16px 12px;
    font-size: 15px;
    line-height: 1.35135;
    border-radius: 2px;margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;white-space: nowrap;user-select: none;">
                                                                Buy now
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                            <script type="text/javascript">
            UD.performance.mark('CLP.buy-button-rendered');
            UD.performance.sync();
                                            </script>
                                        </div>

                                    </div>

                                    <div class="clp-component-render" style="box-sizing: border-box;">

                                        <div class="buy-box__element buy-box__element--money-back" style="box-sizing: border-box;">
                                            <span class="money-back" style="display: block;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;">
                                                30-Day Money-Back Guarantee
                                            </span>
                                        </div>

                                    </div>

                                    <div class="incentives" style="box-sizing: border-box;">
                                        <div class="clp-component-render" style="box-sizing: border-box;">

                                            <div>
                                                <span id="incentives" class="in-page-offset-anchor" style="position: absolute;
    top: -70px;"></span>
                                                <b style="font-weight: 700;">Includes</b>
                                            </div>

                                            <ul style="list-style: none;
    margin: 0;
    padding: 0;">

                                

                                                <li class="incentives__item" style="font-size: 13px;display: flex;
    padding: 3px;">
                                                    <i style="font-weight: 600;flex: 0 0 auto;
    min-width: 1px;
    margin-right: 6px;
    padding-top: 3px;
    width: 15px;vertical-align: -8%;font-family: UdemyIcons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;" class="incentives__icon incentives__icon--bold udi udi-what-lifetime"></i>
                                                    <span style="word-break: break-word;" class="incentives__text" data-purpose="incentive-lifetime-access">
                                                        Full lifetime access
                                                    </span>
                                                </li>


                                                <li class="incentives__item" style="font-size: 13px;display: flex;
    padding: 3px;">
                                                    <i style="font-weight: 600;flex: 0 0 auto;
    min-width: 1px;
    margin-right: 6px;
    padding-top: 3px;
    width: 15px;vertical-align: -8%;font-family: UdemyIcons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;" class="incentives__icon incentives__icon--bold udi udi-mobile-apps"></i>
                                                    <span class="incentives__text">
                                                        Access on mobile and computers
                                                    </span>
                                                </li>

                                            </ul>

                                        </div>
                                        <div class="clp-component-render">

                                            <ul>

                                                <li class="incentives__item" style="font-size: 13px;display: flex;
    padding: 3px;">
                                                    <i style="font-weight: 600;flex: 0 0 auto;
    min-width: 1px;
    margin-right: 6px;
    padding-top: 3px;
    width: 15px;vertical-align: -8%;font-family: UdemyIcons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;" class="incentives__icon incentives__icon--bold udi udi-academics"></i>
                                                    <span class="incentives__text" data-purpose="incentive-certificate">
                                                        Certificate of Completion
                                                    </span>
                                                </li>

                                            </ul>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="referral-terms">
                                <div class="clp-component-render"><div class="ud-component--clp--referral-terms" ng-non-bindable=""></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//banner -->
    <div class="single-page main-grid-border">
        <div class="container">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@


            <div class=" col-xxs-8 col-lg-6 col-md-6 left-col" style="float: left;">
                <div class="header-left">
                    <div class="curriculum-header-title" style="font-size: 22px;
    font-weight: 600;
    margin: 0 0 10px;margin-top:10px" data-purpose="curriculum-title">Course content</div>
                </div>
                <div class="panel-group" id="accordion">

                    @{
                        var collapse = "collapse" + 1;
                        var i = 1;
                        foreach (var crs in ViewBag.selectcrs)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#@collapse">Chapter @crs.Title</a>
                                    </h4>
                                </div>
                                <div id="@collapse" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <div class="lectures-container collapse in">
                                            <div class="lecture-container lecture-container--preview" style="display: flex; padding: 12px 30px 12px 43px;background-color: #fff; border: 1px solid #e8e9eb;
    border-top: none;
    color: #686f7a;
    letter-spacing: .3px;
    line-height: 1.33;" data-purpose="lecture-item-1-1">
                                                <div class="left-content" style="display: flex; align-items: flex-start; width: 50%;">
                                                    <span class="udi udi-play-circle"></span>
                                                    <div class="top">
                                                        <div class="description collapse">

                                                        </div><div class="title"><span><a href="javascript:void(0)">@crs.Description</a></span>  <a class="down-arrow" href="javascript:void(0)"><span data-purpose="lecture-caret-1-1" class="fa fa-angle-down"></span></a></div>
                                                    </div>
                                                </div>
                                                <div class="details" style="display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: auto;
    width: 50%;
    font-size: 14px;"><span><a data-purpose="preview-course" data-toggle="modal" style="cursor:pointer" data-target="#@crs.Chapter_number"><span class="preview-text">Preview</span></a></span></div>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="@crs.Chapter_number" role="dialog" style="left: 450px;padding-top: 200px;
    padding-bottom: 30px;">
                                            <div style="
    font-size: 18px;
    padding: 16px 64px 16px 16px;color:white;background-color:black;width:335px">
                                                NEET chapter @crs.Chapter_number Preview &nbsp;&nbsp;&nbsp;
                                                <div style="float:right">
                                                    <button onclick="modelfunc(@crs.Chapter_number)" style=" margin-left:0px; margin-right:0px;float:right;text-align:right; color:black"> <span aria-hidden="true">×</span></button>
                                                </div>
                                            </div>

                                            <link href="//vjs.zencdn.net/5.11/video-js.min.css" rel="stylesheet" />
                                            <script src="//vjs.zencdn.net/5.11/video.min.js"></script>
                                            <!--Videojs-->
                                            @*<video width="400" id="playerID" controls>
                                            <source src="@Url.Content(crs.Demo_video_Path)" type="video/mp4">

                                            Your browser does not support HTML5 video.
                                        </video>*@
                                            @{
                                                var vidid = "Vid" + @crs.Chapter_number;
                                            }
                                            @*<iframe id="playerID" src="@Url.Content(crs.Demo_video_Path)" allowfullscreen="">*@
                                            <video style="width:335px" id="@vidid" controls controlsList="nodownload">
                                                <source src="@Url.Content(crs.Demo_video_Path)" type="video/mp4">

                                                Your browser does not support HTML5 video.
                                            </video>
                                            @*</iframe>*@

                                        </div>
                                    </div>

                                </div>
                            </div>
                            i++;
                            collapse = "collapse" + i;

                        }

                    }


                </div>

            </div>
            <div class="modal fade" id="modalfordemointro" role="dialog" style="left: 450px;padding-top: 200px;
    padding-bottom: 30px;">
                <div style="
    font-size: 18px;
    padding: 16px 64px 16px 16px;color:white;background-color:black;width:350px;">
                    Course Preview &nbsp;&nbsp;&nbsp;
                    <div style="float:right">
                        <button onclick="modelfunc1()" style=" margin-left:0px; margin-right:0px;float:right;text-align:right; color:black"> <span aria-hidden="true">×</span></button>
                    </div>
                </div>

                <link href="//vjs.zencdn.net/5.11/video-js.min.css" rel="stylesheet" />
                <script src="//vjs.zencdn.net/5.11/video.min.js"></script>
                <!--Videojs-->

                <video style="width:350px;" id="Vidmodalfordemointro" controls controlsList="nodownload">
                    <source src="@Url.Content(@ViewBag.firstdemovideo)" type="video/mp4">

                    Your browser does not support HTML5 video.
                </video>
                @*</iframe>*@

            </div>
            <script>
                        function modelfunc(e)
                        {

                            $('#Vid'+e)[0].pause();
                              $('#'+e).modal('toggle');


                        }
                        function modelfunc1() {

                            $('#Vidmodalfordemointro')[0].pause();
                            $('#modalfordemointro').modal('toggle');
                        }
            </script>



            <div  class="col-md-8 col-sm-6 col-lg-8">
                <div class="instructors--instructor__header--2qM3W" style="display: block;
    font-size: 22px;
    font-weight: 600;
    margin: 0;">About the instructors</div>
                <div class="instructor--instructor--2qudS" style="display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    background: none;
    border: none;
    padding: 20px 0 0 0;" data-purpose="instructor-bio-desktop">
                    <span class="in-page-offset-anchor" style="position: absolute;
    top: -70px;" id="instructor-1"></span>
                    <div style="display: flex;
    flex-direction: column;

    width: 170px;" class="instructor--instructor__image-and-stats--3upAA">
                        <a style="    margin-top: 0;flex: 0 0 auto;
    min-width: 1px;
    margin: 5px 15px 0 0;color: #007791;" class="instructor--instructor__image--3gGa8" href="#">
                            <img style="border: 1px solid #DEDFE0;border-radius: 50%;
    object-fit: cover;display: inline-block;
    position: relative;
    max-width: 100%;height: auto;
    vertical-align: middle;" alt="@ViewBag.trainerinfo.Name" aria-label="Kirill Eremenko" data-purpose="instructor-image" height="96" width="96" src="@Url.Content(@ViewBag.trainerinfo.Image)" class="user-avatar user-avatar--image">
                        </a>

                    </div>
                    <div style="flex: 1;
    min-width: 1px;" class="fx">
                        <div style="min-width: 100%;" class="instructor--instructor__title-and-job-title--1nr2Z">
                            <div style="    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 10px;" class="instructor--instructor__title--2-Bub">
                                <a style="color: #007791;
    font-weight: normal;" href="#">@ViewBag.trainerinfo.Name</a>
                            </div><div style="font-size: 16px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 10px;" class="instructor--instructor__job-title--opFWR">@ViewBag.trainerinfo.Occupation</div>
                        </div>
                        <div style="    flex-basis: calc(100% - 230px);
    position: relative;" class="instructor--instructor__description--1A0ot">
                            <div style="display: block;
    max-height: 270px;
    overflow: hidden;
    position: relative;margin-top: 10px;" data-purpose="description-content" class="instructor--instructor__description-content--1CtQI instructor--is-hidden--1MdIx"><div><p>@ViewBag.trainerinfo.Biography</p></div></div><div class="instructor--instructor__view-more-wrapper--w6L78"></div>
                        </div>
                    </div>
                </div>

                <span style="font-size: 0px;"></span>
            </div>
        </div>
        </div>
  
        <!-- footer -->
        <div class="footer_agileinfo_topf" style="background:#887a7a ; color:white">
            <div class="container">
                <div class="container">
                    <div class="col-md-4 footer_w3layouts_gridf">
                        <h2><a href="~/Home/Index" style="color:white">SNL</a></h2>
                        <p class="paragraphf" style="color:white">Providing best coaching at affordable prices.</p>
                    </div>
                    <div class="col-md-4 footer_w3layouts_gridf">
                        <nav>
                            <ul class="footer_w3layouts_gridf_list">
                                <li>
                                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                                    <a href="http://www.elephanttreetech.com/#About" target="_blank" style="color:white">About Us</a>
                                </li>
                                <li>
                                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                                    <a href="http://www.elephanttreetech.com/#service" target="_blank" style="color:white">Services</a>
                                </li>
                                <li>
                                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                                    <a href="http://www.elephanttreetech.com/#products" target="_blank" style="color:white">Products</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-4 footer_w3layouts_gridf">
                        <nav>
                            <ul class="footer_w3layouts_gridf_list">
                                <li>
                                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                                    <a href="http://www.elephanttreetech.com/#jobs" target="_blank" style="color:white">Careers</a>
                                </li>

                                <li>
                                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                                    <a href="http://www.elephanttreetech.com/#technology" target="_blank" style="color:white">Technology</a>
                                </li>
                                <li>
                                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                                    <a href="http://www.elephanttreetech.com/#contact" target="_blank" style="color:white">Contact</a>
                                </li>

                            </ul>
                        </nav>


                    </div>
                    <div class="clearfix"> </div>
                    <div class="w3ls-fsocial-grid" style="float:left">
                        <h3 class="sub-w3ls-headf" style="color:white">Follow Us</h3>
                        <div class="social-ficons">
                            <ul>
                                <li><a href="https://www.facebook.com/12Elephanttrees/" target="_blank" style="color:white"><span class="fa fa-facebook"></span> Facebook</a></li>
                                <li><a href="https://twitter.com/12Elephanttrees" target="_blank"><span class="fa fa-twitter" style="color:white"></span> Twitter</a></li>
                                <li><a href="https://www.linkedin.com/in/elephanttree-technologies-private-limited-174699145/" style="color:white" target="_blank"><span class="fa fa-linkedin-square"></span>Linkdin</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="w3ls-fsocial-grid" style="float:right">

                        <p style="float:right;color:white"><span class="fa fa-mail-forward" aria-hidden="true"></span>Recieve our latest news straight to your inbox.</p>
                        <br /> <br />
                        <div style="float:right">
                            <form action="~/Home/Subscribe" method="post">
                                <input type="email" name="Email" placeholder="Email address..." required="">
                                <input type="submit" value="Submit" style="padding:2px 2px 2px 2px;color:black">
                            </form>
                        </div>

                    </div>
                    <br />

                </div>
            </div>
        </div>
        <div class="footer-wthree-copyf">
            <div class="container">
                @*<div class="addressf-agileits-w3layouts">
                    <p style="float:left"><span class="fa fa-mail-forward" aria-hidden="true"></span>Recieve our latest news straight to your inbox.</p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div style="float:right">
                        <form action="~/Home/Subscribe" method="post">
                            <input type="email" name="Email" placeholder="Email address..." required="">
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>*@
                <p>© 2018 SNL MERIT TRAINING. All rights reserved | Design and Developed by <a href="http://www.elephanttreetech.com/" target="_blank"> ELEPHANTTREE TECH PVT.LTD.</a></p>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //footer -->
        <!-- js -->
        <!-- Common js -->
        <script type="text/javascript" src="~/css/newcss/js/jquery-2.1.4.min.js"></script>
        <!--// Common js -->
        <!-- cart-js -->
        <script src="~/css/newcss/js/minicart.js"></script>
        <script>
        edu.render();

        edu.cart.on('edu_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) { }
            }
        });
        </script>
        <!-- //cart-js -->
        <!-- reviews -->
        <script>
        function blinker() {
            $('.blinking').fadeOut(500);
            $('.blinking').fadeIn(500);
        }
        setInterval(blinker, 1000);
        </script>
        <script>
        function cycle($item, $cycler) {
            setTimeout(cycle, 2000, $item.next(), $cycler);

            $item.slideUp(1000, function () {
                $item.appendTo($cycler).show();
            });
        }
        cycle($('#cycler div:first'), $('#cycler'));
        </script>
        <!--// reviews -->
        <!-- responsive-tabs -->
        <script src="~/css/newcss/js/easy-responsive-tabs.js"></script>
        <script>
        $(document).ready(function () {
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
        </script>
        <!-- //responsive-tabs -->
        <!-- Carousel Auto-Cycle -->
        <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 6000
            })
        });
        </script>
        <!-- // Carousel Auto-Cycle -->
        <!-- Nav Js -->
        <script type="text/javascript" src="~/css/newcss/js/bootstrap.js"></script>
        <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("400");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("400");
                    $(this).toggleClass('open');
                }
            );
        });
        </script>
        <!--// Nav Js -->
        <!-- bootstrap-pop-up -->
        <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        Sign In/Up
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <section>

                        <div class="modal-body">
                            <div class="loginf_module">
                                <div class="module form-module">
                                    <div class="toggle">
                                        <i class="fa fa-times fa-pencil"></i>
                                        <div class="tooltip" id="sgnin">Sign in </div>
                                        <div class="tooltip" id="sgnup">Sign Up </div>
                                    </div>
                                    <div class="form">
                                        <h3>Login to your account</h3>
                                        <form action="~/Student/Cand_Login" method="post">
                                            @Html.AntiForgeryToken()

                                            @Html.EditorFor(model => model.Cand_EmailId, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", required = "required", style = "text - align: left;", maxlength = "254", minlength = "4" } })
                                            @Html.ValidationMessageFor(model => model.Cand_EmailId, "", new { @class = "text-danger" })

                                            @Html.EditorFor(model => model.Cand_Pass, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", required = "required", maxlength = "16", minlength = "6" } })
                                            @Html.ValidationMessageFor(model => model.Cand_Pass, "", new { @class = "text-danger" })

                                            <input type="submit" value="Login" style="background-color:lightseagreen">
                                        </form>

                                        <div class="cta">
                                            <a href="#" class="log" data-toggle="modal" onClick="PopUp('hide')" data-target="#myModal1">Forgot password?</a>
                                        </div>

                                    </div>
                                    <div class="form">
                                        <h3>Sign Up</h3>
                                        @using (Html.BeginForm("Cand_reg", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            @Html.EditorFor(model => model.CandName, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Name" } })
                                            @Html.ValidationMessageFor(model => model.CandName, "", new { @class = "text-danger" })

                                            @Html.EditorFor(model => model.Cand_EmailId, new { htmlAttributes = new { @class = "form-control", @type = "email", placeholder = "Email", required = "required", maxlength = "254", minlength = "4" } })
                                            @Html.ValidationMessageFor(model => model.Cand_EmailId, "", new { @class = "text-danger" })
                                            @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })

                                            @Html.EditorFor(model => model.Cand_MNum, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"@*, @type = "number"*@,
  onkeypress = "return isNumberKey(event)",
  maxlength = "10",
  minlength = "10",
  placeholder = "Phone Number"
}
})
                                            @Html.ValidationMessageFor(model => model.Cand_MNum, "", new { @class = "text-danger" })
                                            <script type="text/javascript">
                                            function isNumberKey(evt) {
                                                var charCode = (evt.which) ? evt.which : event.keyCode;
                                                if (charCode > 31
                                                    && (charCode < 48 || charCode > 57))
                                                    return false;

                                                return true;
                                            }
                                            </script>

                                            @Html.EditorFor(model => model.Cand_Pass, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", required = "required", maxlength = "16", minlength = "6" } })
                                            @Html.ValidationMessageFor(model => model.Cand_Pass, "", new { @class = "text-danger" })

                                            @Html.EditorFor(model => model.Cand_RePass, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control",
                                                    required = "required",
                                                    maxlength = "16",
                                                    minlength = "6",
                                                    placeholder = "Confirm Password"
                                                }
                                            })
                                            @Html.ValidationMessageFor(model => model.Cand_RePass, "", new { @class = "text-danger" })

                                            <input type="submit" value="Register" style="background-color:lightseagreen">
                                        }
                                        <br />
                                        <h6><a href="~/Home/termscond" target="_blank"> By clicking Register, you agree to our Terms and that you have read our Policy</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (@ViewBag.errrid == "1")
                        {
                            <h4 class="agileinfo_sign" style="color:lightseagreen;text-align:center">Login Error</h4>
                            <br />

                            <h5 style="color:red;text-align:center"> Invalid credentials, Please Check your details and try again!</h5>
                            <br />


                        }
                        @if (@ViewBag.errrid == "2")
                        {
                            <h4 class="agileinfo_sign" style="color:black;text-align:center">Email Exists</h4>
                            <br />

                            <h5 style="color:darkcyan;text-align:center"> Your email already exists. Please try with another email. </h5>
                            <br />

                        }
                        @if (@ViewBag.errrid == "3")
                        {
                            <h4 class="agileinfo_sign" style="color:black;text-align:center">Successfull Registration</h4>
                            <br />

                            <h5 style="color:darkcyan;text-align:center"> Registration Successfully done. Account activation link has been sent to your email id. Please check.</h5>
                            <br />

                        }
                        @if (@ViewBag.errrid == "4")
                        {
                            <h4 class="agileinfo_sign" style="color:lightseagreen;text-align:center">Registration Error</h4>
                            <br />

                            <h5 style="color:red;text-align:center"> Invalid registration. Please Try again</h5>
                            <br />

                        }
                        @if (@ViewBag.errrid == "12")
                        {
                            <h4 class="agileinfo_sign" style="color:lightseagreen;text-align:center">Login Error</h4>
                            <br />

                            <h5 style="color:red;text-align:center"> @ViewBag.errrmsg14</h5>
                            <br />

                        }
                        @if (@ViewBag.errrid == "13")
                        {
                            <h4 class="agileinfo_sign" style="color:lightseagreen;text-align:center">Registration Error</h4>
                            <br />

                            <h5 style="color:red;text-align:center"> @ViewBag.errrmsg14</h5>
                            <br />

                        }

                    </section>
                </div>
            </div>
        </div>
        <script>
        function PopUp(hideOrshow) {
            if (hideOrshow == 'hide') $('#myModal').modal('hide');

        }
        function PopUp1(hideOrshow) {
            if (hideOrshow == 'hide') $('#myModal1').modal('hide');

        }
        </script>
        <div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        Sign In/Up
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <section>

                        <div class="modal-body">
                            <div class="loginf_module">
                                <div class="module form-module">
                                    <div class="toggle">
                                        <i class="fa fa-times fa-pencil"></i>
                                        <div class="tooltip" id="fg">Back </div>
                                        <div class="tooltip" id="sgnup2">Sign Up </div>
                                    </div>
                                    <div class="form">
                                        <h3>Forgot Password Recovery</h3>
                                        <form action="~/Student/Cand_Forgotpass" method="post">
                                            @Html.EditorFor(model => model.Cand_EmailId, new { htmlAttributes = new { @class = "form-control", style = "color: darkblue;", placeholder = "User email", @type = "email", required = "required", maxlength = "254", minlength = "4" } })
                                            @Html.ValidationMessageFor(model => model.Cand_EmailId, "", new { @class = "text-danger" })
                                            <input type="submit" value="Submit" class="btn btn-default" style="background-color:lightseagreen" />
                                        </form>

                                        <div class="cta">
                                            <a href="#" class="log" data-toggle="modal" onClick="PopUp1('hide')" data-target="#myModal">Login</a>
                                        </div>

                                    </div>
                                    <div class="form">
                                        <h3>Sign Up</h3>
                                        @using (Html.BeginForm("Cand_reg", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            @Html.EditorFor(model => model.CandName, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Name" } })
                                            @Html.ValidationMessageFor(model => model.CandName, "", new { @class = "text-danger" })

                                            @Html.EditorFor(model => model.Cand_EmailId, new { htmlAttributes = new { @class = "form-control", @type = "email", placeholder = "Email", required = "required", maxlength = "254", minlength = "4" } })
                                            @Html.ValidationMessageFor(model => model.Cand_EmailId, "", new { @class = "text-danger" })
                                            @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })

                                            @Html.EditorFor(model => model.Cand_MNum, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control"@*, @type = "number"*@,
  onkeypress = "return isNumberKey(event)",
  maxlength = "10",
  minlength = "10",
  placeholder = "Phone Number"
}
})
                                            @Html.ValidationMessageFor(model => model.Cand_MNum, "", new { @class = "text-danger" })
                                            <script type="text/javascript">
                                            function isNumberKey(evt) {
                                                var charCode = (evt.which) ? evt.which : event.keyCode;
                                                if (charCode > 31
                                                    && (charCode < 48 || charCode > 57))
                                                    return false;

                                                return true;
                                            }
                                            </script>

                                            @Html.EditorFor(model => model.Cand_Pass, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", required = "required", maxlength = "16", minlength = "6" } })
                                            @Html.ValidationMessageFor(model => model.Cand_Pass, "", new { @class = "text-danger" })

                                            @Html.EditorFor(model => model.Cand_RePass, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control",
                                                    required = "required",
                                                    maxlength = "16",
                                                    minlength = "6",
                                                    placeholder = "Confirm Password"
                                                }
                                            })
                                            @Html.ValidationMessageFor(model => model.Cand_RePass, "", new { @class = "text-danger" })

                                            <input type="submit" value="Register" style="background-color:lightseagreen">
                                        }
                                        <br />
                                        <h6><a href="~/Home/termscond" target="_blank"> By clicking Register, you agree to our Terms and that you have read our Policy</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (@ViewBag.errrid == "2")
                        {
                            <h3 class="agileinfo_sign" style="color:black;text-align:center">Email Exists</h3>
                            <br />

                            <h4 style="color:darkcyan;text-align:center"> Your email already exists. Please try with another email. </h4>
                            <br />


                        }
                        @if (@ViewBag.errrid == "14")
                        {
                            <h3 class="agileinfo_sign" style="color:lightseagreen;text-align:center">Recovery Error</h3>
                            <br />

                            <h4 style="color:red;text-align:center"> @ViewBag.errrmsg14</h4>
                            <br />

                        }
                        @if (@ViewBag.errrid == "5")
                        {
                            <h3 class="agileinfo_sign" style="color:black;text-align:center">Password Recovery</h3>
                            <br />

                            <h4 style="color:darkcyan;text-align:center"> Please check Your Email. Password recovery link has been sent.</h4>
                            <br />

                        }
                        @if (@ViewBag.errrid == "6")
                        {
                            <h3 class="agileinfo_sign" style="color:lightseagreen;text-align:center"> Recovery Error</h3>
                            <br />

                            <h4 style="color:red;text-align:center"> Something went wrong. Please try again</h4>
                            <br />

                        }
                        @if (@ViewBag.errrid == "7")
                        {
                            <h3 class="agileinfo_sign" style="color:lightseagreen;text-align:center">Password Recovery</h3>
                            <br />

                            <h4 style="color:red;text-align:center"> Email does not Exist. Please try again.</h4>
                            <br />

                        }
                    </section>

                </div>

            </div>
        </div>
        <div class="modal video-modal fade" id="subcribeModel" tabindex="-1" role="dialog" aria-labelledby="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <section>
                        <div class="modal-body">
                            <div class="loginf_module">
                                <div class="module form-module">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <div class="form">
                                        <h3>Subscription Box</h3>

                                        <h4 style="color:lightseagreen"> Thank you for keeping in touch!</h4>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        $('#myModal').modal('hide');
        function PopUp1(hideOrshow) {
            if (hideOrshow == 'hide') {

                $('#myModal1').modal('hide');
            }
            else document.getElementById('myModal1').removeAttribute('style');

        }
        </script>
        <!-- JS includes -->
        <script type="text/javascript">
            /**/

            /**/
            if (@ViewBag.errrid=="1")
/**/ {

                $('#myModal').modal('show');
            }
            /**/
            if (@ViewBag.errrid=="2")
/**/ {

                $('#myModal').modal('show');
            }
            /**/
            if (@ViewBag.errrid=="3")
/**/ {

                $('#myModal').modal('show');
            }
            /**/
            if (@ViewBag.errrid=="4")
/**/ {

                $('#myModal').modal('show');
            }
            /**/
            if (@ViewBag.errrid=="5")
/**/ {

                $('#myModal1').modal('show');
            }
            /**/
            if (@ViewBag.errrid=="6")
/**/ {

                $('#myModal1').modal('show');
            }
            /**/
            if (@ViewBag.errrid=="7")
/**/ {

                $('#myModal1').modal('show');
            }
            /**/
        if (@ViewBag.errrid=="12")
/**/ {

                $('#myModal').modal('show');
            }
        if (@ViewBag.errrid=="13")
/**/ {

                $('#myModal').modal('show');
            }
            if (@ViewBag.errrid=="14")
/**/ {

                $('#myModal1').modal('show');
            }

            if (@ViewBag.errrid=="15")
/**/ {

                $('#myModal').modal('show');
            }
            if (@ViewBag.errrid=="16")
/**/ {

                $('#subcribeModel').modal('show');
            }
        </script>

        <script type="text/javascript">

        function PopUperror(hideOrshow) {
            if (hideOrshow == 'hide') {

                $('#myModal').modal('hide');
            }
            else document.getElementById('myModal').removeAttribute('style');

        }
        </script>


        <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
        </script>
        <!-- //bootstrap-pop-up -->
        <!--pop-up-box -->
        <script src="~/css/newcss/js/jquery.magnific-popup.js" type="text/javascript"></script>
        <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
        </script>
        <!-- //pop-up-box -->
        <!-- start-smoth-scrolling -->
        <script type="text/javascript" src="~/css/newcss/js/move-top.js"></script>
        <script type="text/javascript" src="~/css/newcss/js/easing.js"></script>
        <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
        </script>
        <!-- start-smoth-scrolling -->
        <!-- here stars scrolling icon -->
        <script type="text/javascript">
        $(document).ready(function () {

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
        </script>
        <!-- //here ends scrolling icon -->
        <!-- smoothscroll -->
        <script src="~/css/newcss/js/SmoothScroll.min.js"></script>
        <!-- //smoothscroll -->



</body>

</html>