@model IEnumerable<EtreetrainingUser.Models.Tbl_Cand_Main>

@{
    ViewBag.Title = "allview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br /><br /><br />
<h2> Hey there, this is page for view of candidate and trainer views </h2>
<head>
    <style type="text/css">
        /*----- Tabs -----*/
        .tabs {
            width: 100%;
            display: inline-block;
        }

        /*----- Tab Links -----*/
        /* Clearfix */
        .tab-links:after {
            display: block;
            clear: both;
            content: '';
        }

        .tab-links li {
            margin: 0px 5px;
            float: left;
            list-style: none;
        }

        .tab-links a {
            padding: 9px 15px;
            display: inline-block;
            border-radius: 3px 3px 0px 0px;
            background: #7FB5DA;
            font-size: 16px;
            font-weight: 600;
            color: #4c4c4c;
            transition: all linear 0.15s;
        }

            .tab-links a:hover {
                background: #a7cce5;
                text-decoration: none;
            }

        li.active a, li.active a:hover {
            background: #fff;
            color: #4c4c4c;
        }

        /*----- Content of Tabs -----*/
        .tab-content {
            padding: 15px;
            border-radius: 3px;
            box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
            background: #fff;
        }

        .tab {
            display: none;
        }

            .tab.active {
                display: block;
            }
    </style>


    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Tabs.js"></script>
    <script type="text/javascript" src="../assets/js/analytics.js"></script>
</head>
<body>

    <div class="wrap pull-left">
        <div class="main pull-left">
            <h2>Please click on tabs to see details of candidates and trainers...</h2>

            <div class="tabs standard">
                <ul class="tab-links">
                    <li class="active"><a href="#tab1"><b> Candidate </b></a></li>

                    <li><a href="~/ADMIN/TrainView">Trainers</a></li>

                </ul>

                <div class="tab-content pull-left" style="background-color:aquamarine ;width:1200px;">
                    <div id="tab1" class="tab active">


                        <table class="table" >
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cand_id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CandName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cand_EmailId)
                                </th>
                                
                                <th>
                                    @Html.DisplayNameFor(model => model.Cand_ImagePath)
                                </th>
                               
                                <th>
                                    @Html.DisplayNameFor(model => model.Cand_DocPath)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cand_Pass)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.cand_ReferenceCode)
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cand_id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CandName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cand_EmailId)
                                    </td>
                                  
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.Cand_ImagePath)*@
                                        <img src="@Url.Content(item.Cand_ImagePath)" width="150" height="150" />
                                    </td>
                                   
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.Cand_DocPath)*@
                                        <img src="@Url.Content(item.Cand_DocPath)" width="150" height="150" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cand_Pass)
                                    </td>
                                    
                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cand_ReferenceCode)
                                    </td>
                                    
                                    <td>
                                        <a class="btn btn-default" style="font-size:x-small; font-weight:50;border:groove;border-color:brown" href="~/Student/Cand_reg"> &nbsp;<b>ADD</b> &nbsp; </a>  
                                        <br /><br />
                                        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })*@
                                        <a class="btn btn-default" style="font-size:x-small; font-weight:50;border:groove;border-color:brown" href="~/ADMIN/Cand_Edit"> &nbsp;<b>EDIT</b> &nbsp; </a>  
                                        <br /><br />
                                        <a class="btn btn-default" style="font-size:x-small; font-weight:50;border:groove;border-color:brown" href="~/ADMIN/Cand_Details"> &nbsp;<b>DETAILS</b> &nbsp; </a>     
                                        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                                        <br /><br />
                                        <p><a class="btn btn-default" style="font-size:x-small; font-weight:50;border:groove;border-color:brown" href="~/ADMIN/Cand_Delete"> &nbsp;<b>DELETE</b> &nbsp; </a></p>
                                        @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                                    </td>
                                </tr>
                            }

                        </table>

                            </div>
                    <div id="tab2" class="tab">
                        
                        <p>Tab #2 content goes here!</p>
                        <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis. In hac habitasse platea dictumst. Ut euismod tempus hendrerit. Morbi ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
                    </div>

                    </div>
                        </div>
                    </div>

            </div>

    
  </body>
