
@model IEnumerable<EtreetrainingUser.Models.Post_Cours>
@using System.Configuration
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Snipe Learning  | NEET :: Snipe IT</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="EOTA: User profile" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/FrontUsersPro/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/export.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/circles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/FrontUsersPro/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <!-- font-awesome-icons -->
    <link href="~/FrontUsersPro/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.ttf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/FontAwesome.otf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.eot" rel="stylesheet">
    @*
        <img src="~/FrontUsersPro/fonts/glyphicons-halflings-regular.svg" />*@
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.woff2" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.ttf" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.woff" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.woff2" rel="stylesheet">
    <link href="~/FrontUsersPro/fonts/fontawesome-webfont.woff" rel="stylesheet">

    <link href="//FrontUsersPro/fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">

    <link href="~/css/newcss/css/style.css" rel="stylesheet" type="text/css" media="all" />
    @*/////////////////////////////*@

    <style>
        .navbar-inverse {
            background: linear-gradient(-45deg,#185a9d,#43cea2);
        }

        .header_topw3layouts_bar {
            background: linear-gradient(-45deg,#185a9d,#43cea2);
        }

        .carousel-caption p {
            background: linear-gradient(-45deg,#185a9d,#43cea2);
        }
    </style>
    <!--// Metga-tags -->
    <!-- Styleshets -->
    <!--// Bootstrap-css -->
    <link href="~/css/newcss/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <!--// Responsive-tabs -->
    <link href="~/css/newcss/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!--// Pop-up -->
    <link href="~/css/newcss/css/banner.css" rel="stylesheet" type="text/css" media="all" />
    <!--// banner-css -->
    <link rel="stylesheet" href="~/css/newcss/css/shop.css" type="text/css" media="screen" property="" />
    <!--// shop-css -->
    <link href="~/css/newcss/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- common-css -->
    <link rel="stylesheet" href="~/css/newcss/css/client.css" type="text/css" media="all" />
    <!-- // client-css -->
    <link href="~/css/newcss/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/newcss/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- // Font-awesome-css -->
    <!--// Styleshets -->
    <!-- Online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,500,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!--// Online-fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Snipe/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Snipe/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Snipe/css/screenshot_view.css" rel='stylesheet' type='text/css' />
</head>

<body style="background-color:#f6f6f6;">
    <!-- banner -->
    <div class="wthree_agile_admin_info">
        <!-- /w3_agileits_top_nav-->
        <!-- /nav-->
        <div class="wthree_agile_admin_info">
            <!-- /w3_agileits_top_nav-->
            <!-- /nav-->
            <div class="header" id="home">
                <div>
                    <ul id="gn-menu" class="gn-menu-main" style="box-shadow:none; margin-bottom: 0px;">
                        <li class="gn-trigger">
                            <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" style="color:#fff;" aria-hidden="true"></i><span>Menu</span></a>
                            <nav class="gn-menu-wrapper">
                                <div class="gn-scroller scrollbar1">
                                    <ul class="gn-menu agile_menu_drop" style="line-height: 40px;margin-bottom: 0px;">
                                        <li>
                                            <a href='@Url.Action("paidcourse", "Student", new { id = @ViewBag.userid })'> <i class="fa fa-book" aria-hidden="true"></i>Paid Courses <i class="fa " aria-hidden="true"></i></a>

                                        </li>
                                        <li><a href='@Url.Action("Mocktst", "Student", new { id = @ViewBag.userid })'> <i class="fa fa-table" aria-hidden="true"></i> Mock Test</a></li>

                                        <li><a href='@Url.Action("Certificates", "Student", new { id = @ViewBag.userid })'> <i class="fa fa-line-chart" aria-hidden="true"></i> Certificate</a></li>

                                        @*<li>
                                                <a href='@Url.Action("Help", "Student", new { id = Model.Cand_id })'><i class="fa fa-plus-square" aria-hidden="true"></i> Help/Training process</a>
                                            </li>

                                            <li>
                                                <a href='@Url.Action("Frndportal", "Student", new { id = Model.Cand_id })'><i class="fa  fa-user" aria-hidden="true"></i>Refer a friend</a>

                                            </li>*@

                                    </ul>
                                </div><!-- /gn-scroller -->
                            </nav>
                        </li>
                    </ul>
                </div>
                <div class="header-middle" style="background:#131313">
                    <div class="container">
                        <div class="logof-w3-agile">
                            <h4>
                                <a href="~/" class="text-white"><span style="margin-right:0px;color: #ff1949;">S</span><span style="color:white">nipe</span> <span style="margin-right:0px;color: #ff1949;">L</span><span style="color:white">earning [SNL]</span></a>
                            </h4>
                        </div>
                        <div class="searchf-w3-agileits-headr" style="background-color: transparent;
    border-color: transparent;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    font-size: 13px;display: table-cell;width: 40%;">

                            <form action="~/Home/Search" method="get" accept-charset="ISO-8859-1">

                                <input type="search" name="Search" style="background-color:#f2f3f5;" placeholder="Search for a course..." required="" maxlength="500" onkeyup="javascript:RemoveSpecialChar(this)">

                                <button aria-label="Search" type="submit" class="btn btn-link search" id="btnb" style="border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    color: #ec5252;width: 44px;
    height: 40px;padding: 11px 12px;
    font-size: 15px;border-color: transparent;background-color:#f2f3f5;">
                                    <i class="fa fa-search" aria-hidden="true" id="icn" style="color: #ff1949;"> </i>
                                </button>


                            </form>

                        </div>
                        <div style="float:right">
                            <li class="second admin-pic">
                                <ul class="top_dp_agile" style="margin-bottom: 0px;">
                                    <li class="dropdown profile_details_drop">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <div class="profile_img">
                                                <span class="prfil-img"><img src="~/Picture/Avatar-male.png" style="width:50px;max-height:70px;padding:5px; border-radius: 100%;top:0"></span>
                                                @*<span class="prfil-img"><img src="images/admin.jpg" alt=""> </span>*@
                                            </div>
                                        </a>
                                        @*<ul class="dropdown-menu drp-mnu">
                                        *@
                                        @{
                                            <ul class="dropdown-menu drp-mnu" style="padding:0;right:30px;margin-right:30px">

                                                <li>
                                                    @{
                                                        ViewBag.hhh = @ViewBag.userid;
                                                    }

                                                    <a href="~/Student/Update/@ViewBag.hhh"><i class="fa fa-user"></i> Update profile</a>
                                                </li>
                                                <li> <a href="javascript:document.getElementById('logoutform').submit()"><i class="fa fa-sign-out"></i> Logout</a> </li>


                                                @using (Html.BeginForm("Cand_Logout", "Student", FormMethod.Post, new { id = "logoutform" })) { }

                                            </ul>

                                        }

                                    </li>

                                </ul>
                            </li>
                        </div>
                        <style>

                            .dropdown {
                                position: relative;
                                display: inline-block;
                            }

                            .dropdown-content {
                                display: none;
                                position: absolute;
                                background-color: #f1f1f1;
                                min-width: 90px;
                                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                z-index: 1;
                            }

                                .dropdown-content a {
                                    color: black;
                                    padding: 12px 16px;
                                    text-decoration: none;
                                    display: block;
                                }

                                    .dropdown-content a:hover {
                                        background-color: #ddd;
                                    }

                            .dropdown:hover .dropdown-content {
                                display: block;
                            }

                            .dropdown:hover .dropbtn {
                                background-color: #3e8e41;
                            }
                        </style>

                    </div>

                </div>
                <!--// header-middle -->
                <nav @*class="navbar navbar-inverse"*@ style="background:#131313">


                    <div class="collapse navbar-collapse js-navbar-collapse">
                        <ul class="head" style="margin-bottom: 0px;">

                            <li style="margin-top:0px;" class="dropdown">


                                <div>
                                    <h4> <a href="#" class="text-white">&nbsp; NEET </a></h4>
                                    <div class="dropdown-content" style="width:30%;min-width: 350px;margin-top:17px;float:left;text-align:center">
                                        <div style="padding:15px 15px 15px 15px; color:black">
                                            The National Eligibility cum Entrance Test or NEET is an entrance examination in India, for students who wish to study graduate and postgraduate medical
                                            course and dental course in government or private medical colleges and dental colleges respectively in India.
                                            <br />
                                            <a href="#" style="font-weight: 600;font-size: 15px;line-height: 1.43;color: #007791;">Prepare your schedule</a>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li style="margin-top:0px;" class="dropdown">
                                <div>
                                    <h4> <a href="#" class="text-white">&nbsp; KCET</a></h4>
                                    <div class="dropdown-content" style="width:30%;min-width: 350px;margin-top:17px;text-align:center">
                                        <div style="padding:15px 15px 15px 15px; color:black">
                                            Karnataka Common Entrance Test (KCET) is a state level exam that offers admission
                                            in various government and private colleges in the state of Karnataka.
                                            <br />
                                            <a href="#" style="font-weight: 600;font-size: 15px;line-height: 1.43;color: #007791;">We will meet very soon</a>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li style="margin-top:0px;" class="dropdown">
                                <div>
                                    <h4> <a href="#" class="text-white">&nbsp; JEE</a></h4>
                                    <div class="dropdown-content" style="width:30%;min-width: 350px;margin-top:17px;text-align:center">
                                        <div style="padding:15px 15px 15px 15px; color:black">
                                            Joint Entrance Examination is an engineering entrance examination conducted for admission to various
                                            engineering colleges in India. It is constituted by two different examinations - JEE Main and the JEE Advanced.
                                            <br />
                                            <a href="#" style="font-weight: 600;font-size: 15px;line-height: 1.43;color: #007791;">We will meet very soon</a>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            @*<li><a href="~/Home/SearchOne/A">Academic courses</a></li>
                                <li><a href="~/Home/SearchOne/T">Technical courses</a></li>
                                <li><a href="~/Home/SearchOne/M">Management courses</a></li>*@
                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </nav>

            </div>



            <div class="clearfix"></div>
            <!-- //w3_agileits_top_nav-->
            <!-- /inner_content-->
            <!-- //inner_content-->
        </div>

        <ol class="breadcrumb" style="margin-bottom: 5px;margin-bottom: 0px;">
            <li><a href="https://localhost:44305/Student/user_profile">Profile</a></li>
            <li><a href="#">All Courses</a></li>
            @{int count = 1; var scrt = 0; }
            @{

                foreach (var crs in ViewBag.selectcrs)
                {
                    if (count == 1)
                    {
                        <li class="active">@crs.Course_name</li>
                    }
                    else
                    {
                        if (scrt != @crs.Secret_Code)
                        {
                            <li class="active">@crs.Course_name</li>
                        }
                    }
                    count++;
                    scrt = @crs.Secret_Code;
                }

            }
        </ol>
        <!-- banner -->
        <div class="full-width full-width--streamer streamer--complete" data-content-group="Landing Page" data-course-id="362328" style="background-color: #505763;padding-bottom: 60px;background: linear-gradient(#29303b,#29303b,#29303b);
    color: #fff;">
            <div class="container" style="width: 970px;margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 320px;">
                <div class="row">

                    <div class="row" style="margin-left: -15px;
    margin-right: -15px;box-sizing: border-box;">
                        <div class="col-xxs-8 left-col" style="width: 66.66666667%;float: left;position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;box-sizing: border-box;">
                            <div class="clp-lead">
                                <div class="clp-component-render">



                                    <div class="clp-component-render">
                                        <h1 class="clp-lead__title " data-purpose="lead-title" style="font-size: 36px;
    line-height: 41px;font-weight: 600;margin-top: 21px;
    margin-bottom: 10.5px;">
                                            @{int count1 = 1; var scrt1 = 0; }
                                            @{

                                                foreach (var crs in ViewBag.selectcrs)
                                                {
                                                    if (count1 == 1)
                                                    {
                                                        <li class="active">@crs.Course_name</li>
                                                    }
                                                    else
                                                    {
                                                        if (scrt1 != @crs.Secret_Code)
                                                        {
                                                            <li class="active">@crs.Course_name</li>
                                                        }
                                                    }
                                                    count1++;
                                                    scrt1 = @crs.Secret_Code;
                                                }

                                            }


                                        </h1>

                                        <div class="clp-lead__headline" data-purpose="lead-headline" style="font-size: 21px;
    line-height: 27px;">
                                            Want to pass the NEET - Exam? Want to become NEET courses Certified? Do this course!
                                        </div>

                                    </div>


                                    <div class=" clp-lead__element-row">


                                        <div class="clp-lead__element-item" style="    margin-top: 5px;margin-right: 20px;">
                                            <div class="clp-component-render">

                                                <span class="badge badge-accented yellow" data-purpose="badge" style="background: #f4c150;
    color: #29303b;border-radius: 3px;
    font-size: 9px;
    padding: 1px 8px;

    border: none;

    min-width: inherit;
    display: inline-block;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -3px;
    z-index: 2;
    vertical-align: baseline;text-shadow: none;">
                                                    Bestseller
                                                </span>

                                            </div>
                                        </div>





                                        <div class="clp-lead__element-item">
                                            <div class="clp-component-render">

                                                <div class="rating" data-purpose="ratings">

                                                    <div class="rating__stars">
                                                        <a href="/aws-certified-solutions-architect-associate/#reviews" target="_self" class="js-user-tracker-click" data-user-tracker-page="clp" data-user-tracker-schema="clp-activity" data-user-tracker-action="streamer-review-link-clicked" data-user-tracker-object-id="362328" aria-labelledby="rate-count-value--ede89419" rel=" noopener noreferrer">
                                                            <div class="clp-component-render"><div class="ud-component--clp--rating" ng-non-bindable=""><div aria-label="Rating: 4.44934 out of 5" data-purpose="star-rating-shell" class="star-rating--star-rating--static--3wPvS star-rating--star-rating--smaller--2Iva0"><div><span class="star-rating--review-star--Z6Nqj star-rating--review-star--unfilled--1aZxo"></span><span class="star-rating--review-star--Z6Nqj star-rating--review-star--filled--2D0bO" style="width: 100%;"></span></div><div><span class="star-rating--review-star--Z6Nqj star-rating--review-star--unfilled--1aZxo"></span><span class="star-rating--review-star--Z6Nqj star-rating--review-star--filled--2D0bO" style="width: 100%;"></span></div><div><span class="star-rating--review-star--Z6Nqj star-rating--review-star--unfilled--1aZxo"></span><span class="star-rating--review-star--Z6Nqj star-rating--review-star--filled--2D0bO" style="width: 100%;"></span></div><div><span class="star-rating--review-star--Z6Nqj star-rating--review-star--unfilled--1aZxo"></span><span class="star-rating--review-star--Z6Nqj star-rating--review-star--filled--2D0bO" style="width: 100%;"></span></div><div><span class="star-rating--review-star--Z6Nqj star-rating--review-star--unfilled--1aZxo"></span><span class="star-rating--review-star--Z6Nqj star-rating--review-star--filled--2D0bO" style="width: 45%;"></span></div></div></div></div>
                                                        </a>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="clp-lead__element-row">
                                        <div class="clp-lead__element-item">
                                            <div class="clp-component-render">

                                                <span class="" data-purpose="instructor-name-top">
                                                    Created by

                                                    <a href="/aws-certified-solutions-architect-associate/#instructor-1" target="_self" class="instructor-links__link" rel=" noopener noreferrer">
                                                        SNL TEAM
                                                    </a>


                                                </span>

                                            </div>
                                        </div>

                                        <div class="clp-lead__element-item" data-purpose="lead-course-locale">
                                            <div class=" clp-lead__language">


                                                <div class="clp-lead__caption">
                                                    <div class="clp-component-render">

                                                        <span class=" caption" data-purpose="caption">

                                                            <span><i class="fa fa-comment"></i></span>



                                                            English [Auto-generated]

                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clp-lead__element-row">
                                        <div class="clp-lead__element-item">

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xxs-4 right-col js-right-col" style="width: 33.33333333%;float: left;position: relative;
    min-height: 1px;
    padding-left:15px;

    padding-right: 15px;box-sizing: border-box;">
                            <div class="js-right-col__content right-col__content" style="position: absolute;
    top: 10px;

    margin-top: 18px;
    z-index: 20;box-sizing: border-box;">
                                <div class="right-col__module" style="background-color: #fff;
box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    border-radius: 4px;
    color: #505763;
    padding: 3px;box-sizing: border-box;">
                                    <div class="clp-component-render" data-toggle="modal" data-target="#modalfordemointro" style="box-sizing: border-box;background-color: #fff;

    border-radius: 4px;
    color: #505763;
    padding: 3px;">

                                        <div style="border: none;display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    position: relative;" class="ud-component--clp--introduction-asset introduction-asset" data-purpose="introduction-asset" ng-non-bindable="">
                                            <div style="display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    position: relative;" class="styles--introduction-asset--Q9xDo" data-purpose="introduction-asset">
                                                <a style="cursor:pointer;color:#007791;background-color: transparent;text-decoration: none; font-weight: 400;" role="button" tabindex="0">
                                                    <div style="display: flex;
                                                    flex-direction: column;
                                                    justify-content: flex-end;
                                                    background: linear-gradient(rgba(41,48,59,0),rgba(41,48,59,0),#29303b);
                                                    color: #fff;
                                                    font-weight: 700;
                                                    height: 100%;
                                                    position: absolute;
                                                    text-align: center;
                                                    width: 100%;cursor: pointer;" class="play-button-trigger styles--introduction-asset__placeholder--3aYtt">
                                                        <div style="opacity: 1;
                                                    visibility: visible;left: 0;
                                                    top: 0;
                                                    width: 100%;
                                                    height: 100%;
                                                    position: absolute;
                                                    background: url(https://localhost:44305/Snipe/icon-play.ac3f32ecb72a0c3f674fa5a3f3062a56.svg) no-repeat;
                                                    background-size: auto 50%;
                                                    background-position: 50%;

                                                    -webkit-transition: opacity .15s ease-in-out;
                                                    -moz-transition: opacity .15s ease-in-out;
                                                    -ms-transition: opacity .15s ease-in-out;
                                                    -o-transition: opacity .15s ease-in-out;
                                                    transition: opacity .15s ease-in-out;
                                                    -webkit-transition: -webkit-transform .15s ease-in-out;
                                                    -moz-transition: -moz-transform .15s ease-in-out;
                                                    -o-transition: -o-transform .15s ease-in-out;
                                                    transition: transform .15s ease-in-out;" class="play-button styles--play-button--akRnc"></div>
                                                        <span class="styles--introduction_asset__text--3e9Ce">Preview this course</span>
                                                    </div><img src="~/Snipe/rsz_rd4m53feibdfd.jpg" alt="" width="260" height="135" class="styles--introduction-asset__img--9iitL">
                                                </a>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="right-col__inner" style="padding: 15px 30px;">
                                        <div class="clp-component-render" style="box-sizing: border-box;background-color: #fff;

    border-radius: 4px;
    color: #505763;
    padding: 3px;">






                                            <div class="buy-box">
                                                <div class="buy-box__element" style="margin-bottom: 5px;
    padding: 3px;">



                                                </div>

                                                <div class="buy-box__element" style="margin-bottom: 5px;">
                                                    <div class="clp-component-render">


                                                        <div class="ud-component--clp--price-text " ng-non-bindable="">
                                                            <div>
                                                                <span style="font-size: 0px;"></span>
                                                                <div data-purpose="price-text-container" class="price-text--base-price__container--35GKL" style="margin-right: 10px;
     white-space: nowrap; ">
                                                                    <div data-purpose="course-price-text" class="price-text--base-price__discount--1HLbY price-text--light--3WMN7 price-text--xlarge--2csTD price-text--bold--UNBNv" style="font-size: 36px;font-weight: 700;">
                                                                        <span class="sr-only">Current price</span>
                                                                        <span>

                                                                            @if (ViewBag.finalamount == null || ViewBag.finalamount == 0)
                                                                            {
                                                                                <span>
                                                                                    ₹@ViewBag.newprice
                                                                                </span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>  ₹@ViewBag.finalamount   </span><span>&nbsp;</span> <span style="text-decoration: line-through;color:red"> ₹@ViewBag.newprice</span>
                                                                            }


                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="buy-box__element buy-box__element--discount-expiration">
                                                    <div class="clp-component-render">

                                                        <div class="discount-expiration ud-component--clp--discount-expiration" data-purpose="discount-expiration" ng-non-bindable=""><div class="discount-expiration--discount-expiration--1Lyic" data-purpose="discount-expiration"><span class="discount-expiration--discount-expiration__clock-icon--3Fcr2 udi udi-stress-management"></span><span><b>17 hours</b> left at this price!</span></div></div>

                                                    </div>

                                                </div>

                                                <div class="buy-box__element buy-box__element--add-to-cart-button" data-toggle="modal" data-target="#myModal">

                                                    <div class="clp-component-render">

                                                        <div class="ud-component--clp--buy-button" ng-non-bindable="">
                                                            <div>
                                                                @if (User.Identity.Name == "SNL_users@gmail.com")
                                                                {
                                                                    <form method="post" action="https://localhost:44305/Payment/Success/@ViewBag.userid`@ViewBag.secretcd">
                                                                       
                                                         
                                                                            <div class="form-actions no-color">
                                                                              
                                                                                <button data-purpose="buy-this-course-button" type="submit" class="course-cta btn btn-lg btn-primary btn-block" style="color: #fff;
    background-color: #ec5252;
    border: 1px solid transparent;display: block;
    width: 100%;padding: 16px 12px;
    font-size: 15px;
    line-height: 1.35135;
    border-radius: 2px;margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;white-space: nowrap;user-select: none;">
                                                                                    Click for free access
                                                                                </button>
                                                                            </div>
                                                                       
                                                                    </form>
                                                                }
                                                                else
                                                                {
                                                                    <form method="post" action="@ConfigurationManager.AppSettings["PaymentSubmiturl"]">
                                                                        @{
                                                                            var pymnt = Model.Select(s => new { s.Title, s.Secret_Code, s.New_Price }).Distinct().Where(x => x.Secret_Code == ViewBag.secretcd).FirstOrDefault();

                                                                            <input type="hidden" name="cmd" value="_xclick" />

                                                                            <input type="hidden" name="upload" value="1" />
                                                                            <input type="hidden" name="business" value="@ConfigurationManager.AppSettings["PaymentUsername"]" />

                                                                            <input type="hidden" name="item_name" value="@pymnt.Title" />
                                                                            if (ViewBag.finalamount == null || ViewBag.finalamount == 0)
                                                                            {
                                                                                <input type="hidden" name="amount" value="@pymnt.New_Price" />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type="hidden" name="amount" value="@ViewBag.finalamount" />
                                                                            }
                                                                            <input type="hidden" name="cancel_return" value="https://localhost:44305/Student/singlecrs/@ViewBag.secretcd" />
                                                                            <input type="hidden" name="return" value="https://localhost:44305/Payment/Success/@ViewBag.userid`@ViewBag.secretcd" />
                                                                            @*<input type="hidden" name="lc" value="test lc country" />*@

                                                                            <div class="form-actions no-color">
                                                                                @*<p><i class="glyphicon glyphicon-usd"></i><input type="submit" value="Pay" class="btn btn-default" /></p>*@
                                                                                <button data-purpose="buy-this-course-button" type="submit" class="course-cta btn btn-lg btn-primary btn-block" style="color: #fff;
    background-color: #ec5252;
    border: 1px solid transparent;display: block;
    width: 100%;padding: 16px 12px;
    font-size: 15px;
    line-height: 1.35135;
    border-radius: 2px;margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;white-space: nowrap;user-select: none;">
                                                                                    Buy now
                                                                                </button>
                                                                            </div>
                                                                        }
                                                                    </form>
                                                                }
                                                            </div>
                                                            
                                                        </div>

                                                    </div>
                                                </div>


                                                <script type="text/javascript">
            UD.performance.mark('CLP.buy-button-rendered');
            UD.performance.sync();
                                                </script>
                                            </div>

                                        </div>

                                        <div class="clp-component-render" style="box-sizing: border-box;">

                                            <div class="buy-box__element buy-box__element--money-back" style="box-sizing: border-box;">
                                                <span class="money-back" style="display: block;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;">
                                                    30-Day Money-Back Guarantee
                                                </span>
                                            </div>

                                        </div>

                                        <div class="incentives" style="box-sizing: border-box;">
                                            <div class="clp-component-render" style="box-sizing: border-box;">

                                                <div>
                                                    <span id="incentives" class="in-page-offset-anchor" style="position: absolute;
    top: -70px;"></span>
                                                    <b style="font-weight: 700;">Includes</b>
                                                </div>

                                                <ul style="list-style: none;
    margin: 0;
    padding: 0;">



                                                    <li class="incentives__item" style="font-size: 13px;display: flex;
    padding: 3px;">
                                                        <i style="font-weight: 600;flex: 0 0 auto;
    min-width: 1px;
    margin-right: 6px;
    padding-top: 3px;
    width: 15px;vertical-align: -8%;font-family: UdemyIcons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;" class="incentives__icon incentives__icon--bold udi udi-what-lifetime"></i>
                                                        <span style="word-break: break-word;" class="incentives__text" data-purpose="incentive-lifetime-access">
                                                            Full lifetime access
                                                        </span>
                                                    </li>


                                                    <li class="incentives__item" style="font-size: 13px;display: flex;
    padding: 3px;">
                                                        <i style="font-weight: 600;flex: 0 0 auto;
    min-width: 1px;
    margin-right: 6px;
    padding-top: 3px;
    width: 15px;vertical-align: -8%;font-family: UdemyIcons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;" class="incentives__icon incentives__icon--bold udi udi-mobile-apps"></i>
                                                        <span class="incentives__text">
                                                            Access on mobile and computers
                                                        </span>
                                                    </li>

                                                </ul>

                                            </div>
                                            <div class="clp-component-render">

                                                <ul>

                                                    <li class="incentives__item" style="font-size: 13px;display: flex;
    padding: 3px;">
                                                        <i style="font-weight: 600;flex: 0 0 auto;
    min-width: 1px;
    margin-right: 6px;
    padding-top: 3px;
    width: 15px;vertical-align: -8%;font-family: UdemyIcons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;" class="incentives__icon incentives__icon--bold udi udi-academics"></i>
                                                        <span class="incentives__text" data-purpose="incentive-certificate">
                                                            Certificate of Completion
                                                        </span>
                                                    </li>

                                                </ul>

                                            </div>
                                            <div>
                                                <span id="incentives" class="in-page-offset-anchor" style="position: absolute;
    top: -70px;"></span>
                                                <b style="font-weight: 700;">Pay by cash</b>
                                            </div>
                                         
                                            <div style="text-align:center">
                                                <i class="fa fa-envelope-o"style="font-weight: 700;color: #EC5252;" aria-hidden="true"></i> <a style="font-weight: 700;color: #EC5252;" href="mailto:hr@snipe.co.in" target="_blank">hr@snipe.co.in </a>
                                                <br />
                                                <b style="font-weight: 700;text-align:center">or</b>
                                                <br />
                                                <a href="~/Home/Contact" target="_blank" style="font-weight: 700;color: #EC5252;">Contact to admin </a>
                                            </div>



                                            @using (Html.BeginForm("singlecrs", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {

                                                var ds = Model.Select(s => new { s.Title, s.Secret_Code, s.Course_Type, s.Admin_Id, s.Trainer_Id, s.Old_Price, s.Learning_Point1, s.New_Price, s.Small_Description, s.Brief_Description, s.Learning_Point, s.Description }).Distinct().Where(x => x.Secret_Code == ViewBag.secretcd).FirstOrDefault();
                                                var cnt = Model.Select(s => new { s.Secret_Code, s.Learning_Point1 }).Distinct().Where(x => x.Secret_Code == ViewBag.secretcd).Count();
                                                var i1 = 1;
                                                <div class="form-actions no-color">
                                                    <div>
                                                        <span id="incentives" class="in-page-offset-anchor" style="position: absolute;
    top: -70px;"></span>
                                                        <b style="font-weight: 700;">Have Promo Code / Reference Code?</b>
                                                    </div>


                                                    @foreach (var item in Model.Select(s => new { s.Secret_Code, s.Learning_Point }).Where(x => x.Secret_Code == ViewBag.secretcd).Distinct())
                                                    {
                                                        if (cnt == i1)
                                                        {

                                                            <div class="clp-component-render">
                                                                <div class="ud-component--clp--redeem-coupon" ng-non-bindable="">
                                                                    <div class="mt10" style="    margin-top: 10px;">
                                                                        <form data-purpose="coupon-form" class="m0 " style="margin: 0px;">
                                                                            <div class="form-group">
                                                                                <span class="input-group input-group-sm">
                                                                                    <input type="text" data-purpose="coupon-input" placeholder="Enter Coupon" name="Learning_Point" required="required" onkeypress="return blockSpecialChar(event)" value="" class="form-control">
                                                                                    <span class="input-group-btn">
                                                                                        <button style="z-index: 2;
    margin-left: -1px;
    padding: 6px 10px;
    font-size: 13px;
    line-height: 1.287;
    border-radius: 2px;
    padding: 0 10px;color: #FFF;
    background-color: #EC5252;
    border: 1px solid transparent;" data-purpose="coupon-submit" type="submit" class="btn btn-primary">
                                                                                            <span>Apply</span>
                                                                                        </button>
                                                                                    </span>
                                                                                </span>
                                                                                <span class="help-block"></span>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }

                                                        i1++;
                                                    }


                                                    <div class="clearfix"></div>

                                                </div>
                                            }
                                        </div>

                                    </div>
                                </div>
                                <script type="text/javascript">
                                                                            function blockSpecialChar(e) {
                                                                                var k;
                                                                                document.all ? k = e.keyCode : k = e.which;
                                                                                return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
                                                                            }
                                </script>
                                <div class="referral-terms">
                                    <div class="clp-component-render"><div class="ud-component--clp--referral-terms" ng-non-bindable=""></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//banner -->
        <div class="single-page main-grid-border">
            <div class="container">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@


                <div class=" col-xxs-8 col-lg-6 col-md-6 left-col" style="float: left;">
                    <div class="header-left">
                        <div class="curriculum-header-title" style="font-size: 22px;
    font-weight: 600;
    margin: 0 0 10px;margin-top:10px" data-purpose="curriculum-title">Course content</div>
                    </div>
                    <div class="panel-group" id="accordion">

                        @{
                            var collapse = "collapse" + 1;
                            var i = 1;
                            foreach (var crs in ViewBag.selectcrs)
                            {
                                <div class="panel panel-default">

                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#@collapse">Chapter @crs.Title</a>
                                        </h4>
                                    </div>
                                    <div id="@collapse" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="lectures-container collapse in">
                                                <div class="lecture-container lecture-container--preview" style="display: flex; padding: 12px 30px 12px 43px;background-color: #fff; border: 1px solid #e8e9eb;
    border-top: none;
    color: #686f7a;
    letter-spacing: .3px;
    line-height: 1.33;" data-purpose="lecture-item-1-1">
                                                    <div class="left-content" style="display: flex; align-items: flex-start; width: 50%;">
                                                        <span class="udi udi-play-circle"></span>
                                                        <div class="top">
                                                            <div class="description collapse">

                                                            </div><div class="title"><span><a href="javascript:void(0)">@crs.Description</a></span>  <a class="down-arrow" href="javascript:void(0)"><span data-purpose="lecture-caret-1-1" class="fa fa-angle-down"></span></a></div>
                                                        </div>
                                                    </div>
                                                    <div class="details" style="display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: auto;
    width: 50%;
    font-size: 14px;"><span><a data-purpose="preview-course" data-toggle="modal" style="cursor:pointer" data-target="#@crs.Chapter_number"><span class="preview-text">Preview</span></a></span></div>
                                                </div>
                                            </div>

                                            <div class="modal fade" id="@crs.Chapter_number" role="dialog" style="left: 450px;padding-top: 200px;
    padding-bottom: 30px;">
                                                <div style="
    font-size: 18px;
    padding: 16px 64px 16px 16px;color:white;background-color:black;width:335px">
                                                    NEET chapter @crs.Chapter_number Preview &nbsp;&nbsp;&nbsp;
                                                    <div style="float:right">
                                                        <button onclick="modelfunc(@crs.Chapter_number)" style=" margin-left:0px; margin-right:0px;float:right;text-align:right; color:black"> <span aria-hidden="true">×</span></button>
                                                    </div>
                                                </div>

                                                <link href="//vjs.zencdn.net/5.11/video-js.min.css" rel="stylesheet" />
                                                <script src="//vjs.zencdn.net/5.11/video.min.js"></script>
                                                <!--Videojs-->
                                                @*<video width="400" id="playerID" controls>
                                            <source src="@Url.Content(crs.Demo_video_Path)" type="video/mp4">

                                            Your browser does not support HTML5 video.
                                        </video>*@
                                                @{
                                                    var vidid = "Vid" + @crs.Chapter_number;
                                                }
                                                @*<iframe id="playerID" src="@Url.Content(crs.Demo_video_Path)" allowfullscreen="">*@
                                                <video style="width:335px" id="@vidid" controls controlsList="nodownload">
                                                    <source src="@Url.Content(crs.Demo_video_Path)" type="video/mp4">

                                                    Your browser does not support HTML5 video.
                                                </video>
                                                @*</iframe>*@

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                i++;
                                collapse = "collapse" + i;

                            }

                        }


                    </div>

                </div>
                <div class="modal fade" id="modalfordemointro" role="dialog" style="left: 450px;padding-top: 200px;
    padding-bottom: 30px;">
                    <div style="
    font-size: 18px;
    padding: 16px 64px 16px 16px;color:white;background-color:black;width:350px;">
                        Course Preview &nbsp;&nbsp;&nbsp;
                        <div style="float:right">
                            <button onclick="modelfunc1()" style=" margin-left:0px; margin-right:0px;float:right;text-align:right; color:black"> <span aria-hidden="true">×</span></button>
                        </div>
                    </div>

                    <link href="//vjs.zencdn.net/5.11/video-js.min.css" rel="stylesheet" />
                    <script src="//vjs.zencdn.net/5.11/video.min.js"></script>
                    <!--Videojs-->

                    <video style="width:350px;" id="Vidmodalfordemointro" controls controlsList="nodownload">
                        <source src="@Url.Content(@ViewBag.firstdemovideo)" type="video/mp4">

                        Your browser does not support HTML5 video.
                    </video>
                    @*</iframe>*@

                </div>
                <script>
                        function modelfunc(e)
                        {

                            $('#Vid'+e)[0].pause();
                              $('#'+e).modal('toggle');


                        }
                        function modelfunc1() {

                            $('#Vidmodalfordemointro')[0].pause();
                            $('#modalfordemointro').modal('toggle');
                        }
                </script>
                <div class="col-md-8 col-sm-6 col-lg-8">
                    <div class="instructors--instructor__header--2qM3W" style="display: block;
    font-size: 22px;
    font-weight: 600;
    margin: 0;">About the instructors</div>
                    <div class="instructor--instructor--2qudS" style="display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    background: none;
    border: none;
    padding: 20px 0 0 0;" data-purpose="instructor-bio-desktop">
                        <span class="in-page-offset-anchor" style="position: absolute;
    top: -70px;" id="instructor-1"></span>
                        <div style="display: flex;
    flex-direction: column;

    width: 170px;" class="instructor--instructor__image-and-stats--3upAA">
                            <a style="    margin-top: 0;flex: 0 0 auto;
    min-width: 1px;
    margin: 5px 15px 0 0;color: #007791;" class="instructor--instructor__image--3gGa8" href="#">
                                <img style="border: 1px solid #DEDFE0;border-radius: 50%;
    object-fit: cover;display: inline-block;
    position: relative;
    max-width: 100%;height: auto;
    vertical-align: middle;" alt="@ViewBag.trainerinfo.Name" aria-label="Kirill Eremenko" data-purpose="instructor-image" height="96" width="96" src="@Url.Content(@ViewBag.trainerinfo.Image)" class="user-avatar user-avatar--image">
                            </a>

                        </div>
                        <div style="flex: 1;
    min-width: 1px;" class="fx">
                            <div style="min-width: 100%;" class="instructor--instructor__title-and-job-title--1nr2Z">
                                <div style="    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 10px;" class="instructor--instructor__title--2-Bub">
                                    <a style="color: #007791;
    font-weight: normal;" href="#">@ViewBag.trainerinfo.Name</a>
            </div><div style="font-size: 16px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 10px;" class="instructor--instructor__job-title--opFWR">@ViewBag.trainerinfo.Occupation</div>
            </div>
            <div style="    flex-basis: calc(100% - 230px);
    position: relative;" class="instructor--instructor__description--1A0ot">
                <div style="display: block;
    max-height: 270px;
    overflow: hidden;
    position: relative;margin-top: 10px;" data-purpose="description-content" class="instructor--instructor__description-content--1CtQI instructor--is-hidden--1MdIx"><div><p>@ViewBag.trainerinfo.Biography</p></div></div><div class="instructor--instructor__view-more-wrapper--w6L78"></div>
            </div>
            </div>
            </div>

            <span style="font-size: 0px;"></span>
            </div>
            </div>
        </div>

        <!-- //inner_content-->
    </div>
    <!-- banner -->
    <!--copy rights start here-->
    <div class="footer_agileinfo_topf" style="background:#887a7a ; color:white">
        <div class="container">
            <div class="container">
                <div class="col-md-4 footer_w3layouts_gridf">
                    <h2><a href="~/Home/Index" style="color:white">SNL</a></h2>
                    <p class="paragraphf" style="color:white">Providing best coaching at affordable prices.</p>
                </div>
                <div class="col-md-4 footer_w3layouts_gridf">
                    <nav>
                        <ul class="footer_w3layouts_gridf_list">
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#About" target="_blank" style="color:white">About Us</a>
                            </li>
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#service" target="_blank" style="color:white">Services</a>
                            </li>
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#products" target="_blank" style="color:white">Products</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 footer_w3layouts_gridf">
                    <nav>
                        <ul class="footer_w3layouts_gridf_list">
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#jobs" target="_blank" style="color:white">Careers</a>
                            </li>

                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#technology" target="_blank" style="color:white">Technology</a>
                            </li>
                            <li>
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <a href="http://www.elephanttreetech.com/#contact" target="_blank" style="color:white">Contact</a>
                            </li>

                        </ul>
                    </nav>


                </div>
                <div class="clearfix"> </div>
                <div class="w3ls-fsocial-grid" style="float:left">
                    <h3 class="sub-w3ls-headf" style="color:white">Follow Us</h3>
                    <div class="social-ficons">
                        <ul>
                            <li><a href="https://www.facebook.com/12Elephanttrees/" target="_blank" style="color:white"><span class="fa fa-facebook"></span> Facebook</a></li>
                            <li><a href="https://twitter.com/12Elephanttrees" target="_blank"><span class="fa fa-twitter" style="color:white"></span> Twitter</a></li>
                            <li><a href="https://www.linkedin.com/in/elephanttree-technologies-private-limited-174699145/" style="color:white" target="_blank"><span class="fa fa-linkedin-square"></span>Linkdin</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w3ls-fsocial-grid" style="float:right">

                    <p style="float:right;color:white"><span class="fa fa-mail-forward" aria-hidden="true"></span>Recieve our latest news straight to your inbox.</p>
                    <br /> <br />
                    <div style="float:right">
                        <form action="~/Home/Subscribe" method="post">
                            <input type="email" name="Email" placeholder="Email address..." required="">
                            <input type="submit" value="Submit" style="padding:2px 2px 2px 2px;color:black">
                        </form>
                    </div>

                </div>
                <br />

            </div>
        </div>
    </div>
    <div class="footer-wthree-copyf">
        <div class="container">
            @*<div class="addressf-agileits-w3layouts">
                    <p style="float:left"><span class="fa fa-mail-forward" aria-hidden="true"></span>Recieve our latest news straight to your inbox.</p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div style="float:right">
                        <form action="~/Home/Subscribe" method="post">
                            <input type="email" name="Email" placeholder="Email address..." required="">
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>*@
            <p>© 2018 SNL MERIT TRAINING. All rights reserved | Design and Developed by <a href="http://www.elephanttreetech.com/" target="_blank"> ELEPHANTTREE TECH PVT.LTD.</a></p>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--copy rights end here-->
    <!-- js -->

    <script type="text/javascript" src="~/FrontUsersPro/js/jquery-2.1.4.min.js"></script>

    <!-- /amcharts -->
    <script src="~/FrontUsersPro/js/amcharts.js"></script>
    <script src="~/FrontUsersPro/js/serial.js"></script>
    <script src="~/FrontUsersPro/js/export.js"></script>
    <script src="~/FrontUsersPro/js/light.js"></script>
    <!-- Chart code -->
    <script>
        var chart = AmCharts.makeChart("chartdiv", {
            "theme": "light",
            "type": "serial",
            "startDuration": 2,
            "dataProvider": [{
                "country": "2018",
                "visits": 4025,
                "color": "#FF0F00"
            }, {
                "country": "2017",
                "visits": 2398,
                "color": "#FF6600"
            }, {
                "country": "2016",
                "visits": 1809,
                "color": "#FF9E01"
            }, {
                "country": "2015",
                "visits": 1322,
                "color": "#FCD202"
            }, {
                "country": "2014",
                "visits": 1122,
                "color": "#F8FF01"
            }],
            //, {
            //    "country": "France",
            //    "visits": 1114,
            //    "color": "#B0DE09"
            //}, {
            //    "country": "India",
            //    "visits": 984,
            //    "color": "#04D215"
            //}, {
            //    "country": "Spain",
            //    "visits": 711,
            //    "color": "#0D8ECF"
            //}, {
            //    "country": "Netherlands",
            //    "visits": 665,
            //    "color": "#0D52D1"
            //}, {
            //    "country": "Russia",
            //    "visits": 580,
            //    "color": "#2A0CD0"
            //}, {
            //    "country": "South Korea",
            //    "visits": 443,
            //    "color": "#8A0CCF"
            //}, {
            //    "country": "Canada",
            //    "visits": 441,
            //    "color": "#CD0D74"
            //}, {
            //    "country": "Brazil",
            //    "visits": 395,
            //    "color": "#754DEB"
            //}, {
            //    "country": "Italy",
            //    "visits": 386,
            //    "color": "#DDDDDD"
            //}, {
            //    "country": "Taiwan",
            //    "visits": 338,
            //    "color": "#333333"
            //}],
            "valueAxes": [{
                "position": "left",
                "axisAlpha": 0,
                "gridAlpha": 0
            }],
            "graphs": [{
                "balloonText": "[[category]]: <b>[[value]]</b>",
                "colorField": "color",
                "fillAlphas": 0.85,
                "lineAlpha": 0.1,
                "type": "column",
                "topRadius": 1,
                "valueField": "visits"
            }],
            "depth3D": 40,
            "angle": 30,
            "chartCursor": {
                "categoryBalloonEnabled": false,
                "cursorAlpha": 0,
                "zoomable": false
            },
            "categoryField": "country",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0

            },
            "export": {
                "enabled": true
            }

        }, 0);
    </script>
    <!-- Chart code -->
    <script>
        var chart = AmCharts.makeChart("chartdiv1", {
            "type": "serial",
            "theme": "light",
            "legend": {
                "horizontalGap": 10,
                "maxColumns": 1,
                "position": "right",
                "useGraphSettings": true,
                "markerSize": 10
            },
            "dataProvider": [{
                "year": 2017,
                "europe": 2.5,
                "namerica": 2.5,
                "asia": 2.1,
                "lamerica": 0.3,
                "meast": 0.2,
                "africa": 0.1
            }, {
                "year": 2016,
                "europe": 2.6,
                "namerica": 2.7,
                "asia": 2.2,
                "lamerica": 0.3,
                "meast": 0.3,
                "africa": 0.1
            }, {
                "year": 2015,
                "europe": 2.8,
                "namerica": 2.9,
                "asia": 2.4,
                "lamerica": 0.3,
                "meast": 0.3,
                "africa": 0.1
            }],
            "valueAxes": [{
                "stackType": "regular",
                "axisAlpha": 0.5,
                "gridAlpha": 0
            }],
            "graphs": [{
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Europe",
                "type": "column",
                "color": "#000000",
                "valueField": "europe"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "North America",
                "type": "column",
                "color": "#000000",
                "valueField": "namerica"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Asia-Pacific",
                "type": "column",
                "color": "#000000",
                "valueField": "asia"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Latin America",
                "type": "column",
                "color": "#000000",
                "valueField": "lamerica"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Middle-East",
                "type": "column",
                "color": "#000000",
                "valueField": "meast"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Africa",
                "type": "column",
                "color": "#000000",
                "valueField": "africa"
            }],
            "rotate": true,
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            },
            "export": {
                "enabled": true
            }
        });
    </script>

    <!-- //amcharts -->
    <script src="~/FrontUsersPro/js/chart1.js"></script>
    <script src="~/FrontUsersPro/js/Chart.min.js"></script>
    <script src="~/FrontUsersPro/js/modernizr.custom.js"></script>

    <script src="~/FrontUsersPro/js/classie.js"></script>
    <script src="~/FrontUsersPro/js/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
    <!-- script-for-menu -->
    <!-- /circle-->
    <script type="text/javascript" src="~/FrontUsersPro/js/circles.js"></script>
    <script>
        var colors = [
            ['#ffffff', '#fd9426'], ['#ffffff', '#fc3158'], ['#ffffff', '#53d769'], ['#ffffff', '#147efb']
        ];
        for (var i = 1; i <= 7; i++) {
            var child = document.getElementById('circles-' + i),
                percentage = 55 + (i * 10);

            Circles.create({
                id: child.id,
                percentage: percentage,
                radius: 80,
                width: 10,
                number: percentage / 1,
                text: '%',
                colors: colors[i - 1]
            });
        }

    </script>
    <!-- //circle -->
    <!--skycons-icons-->
    <script src="~/FrontUsersPro/js/skycons.js"></script>
    <script>
        var icons = new Skycons({ "color": "#fcb216" }),
            list = [
                "partly-cloudy-day"
            ],
            i;

        for (i = list.length; i--;)
            icons.set(list[i], list[i]);
        icons.play();
    </script>
    <script>
        var icons = new Skycons({ "color": "#fff" }),
            list = [
                "clear-night", "partly-cloudy-night", "cloudy", "clear-day", "sleet", "snow", "wind", "fog"
            ],
            i;

        for (i = list.length; i--;)
            icons.set(list[i], list[i]);
        icons.play();
    </script>
    <!--//skycons-icons-->
    <!-- //js -->
    <script src="~/FrontUsersPro/js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
    <script src="~/FrontUsersPro/js/flipclock.js"></script>

    <script type="text/javascript">
        var clock;

        $(document).ready(function () {

            clock = $('.clock').FlipClock({
                clockFace: 'HourlyCounter'
            });
        });
    </script>
    <script src="~/FrontUsersPro/js/bars.js"></script>
    <script src="~/FrontUsersPro/js/jquery.nicescroll.js"></script>
    <script src="~/FrontUsersPro/js/scripts.js"></script>


    <script type="text/javascript" src="~/FrontUsersPro/js/bootstrap-3.1.1.min.js"></script>


</body>
</html>